{% extends "base.html" %}


{% block title %}
Home | Flask Web App
{% endblock %}



{% block content %}

<h1>Hello World!</h1>
<p>
    Welcome to my first Flask web application.
</p>
<!-- Cards -->
<div class="cards">

    <div class="card">

        <h3>Python</h3>

        <p>
            Backend programming using Python.
        </p>

    </div>
    <div class="card">

        <h3>Flask</h3>

        <p>
            Build modern web applications using Flask.
        </p>

    </div>
    <div class="card">

        <h3>HTML & CSS</h3>

        <p>
            Create beautiful and responsive user interfaces.
        </p>
    </div>
</div>

{% endblock %}